.button{
	background: #0F54B9;
	box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
	border-radius: 20px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	padding: 10px 20px;
	outline: none;
	border: none;
	cursor: pointer;
}